<html>

  <head>
    <link rel="stylesheet" href="stylesheets/mystyle.css">
    <title>All the Flavors</title>
  </head>

  <body>
    <h1> Wow, you like <%=flavor%> too! That's my favorite</h1>
  </body>
</html>