<html>

  <head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>The Start of Something Beautiful</title>
  </head>

  <body>
    <h1>Welcome to Theresa's New Site</h1>
    <div>
      <p>Hello Friends!</p>
 <!--     <img src=/capetown.jpg></img> -->
    </div>
    <div>
      <button>Let's Get Started with Traveling</button>
    </div>
  </body>
</html>