body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  color: lightblue;
}

h2 {
  color: purple;
  background-color: lemonchiffon;
  font: "Open Sans", sans-serif;
}
a {
  color: #00b7ff;
}

button {
  background-color: blue;
}
